<footer th:fragment="content-footer" class="bg-dark text-white-50 py-4 px-5" style="margin-bottom: 60px;">
    <div class="container">
        <div class="row">
            <!-- Company Info -->
            <div class="col-md-3">
                <h5 class="text-white">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-white-50">About</a></li>
                    <li><a href="#" class="text-white-50">Jobs</a></li>
                    <li><a href="#" class="text-white-50">For the Record</a></li>
                </ul>
            </div>
            <!-- Communities -->
            <div class="col-md-3">
                <h5 class="text-white">Communities</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">For Artists</a></li>
                    <li><a href="#" class="text-white-50">Developers</a></li>
                    <li><a href="#" class="text-white-50">Advertising</a></li>
                    <li><a href="#" class="text-white-50">Investors</a></li>
                    <li><a href="#" class="text-white-50">Vendors</a></li>
                </ul>
            </div>
            <!-- Useful Links -->
            <div class="col-md-3">
                <h5 class="text-white">Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50">Support</a></li>
                    <li><a href="#" class="text-white-50">Web Player</a></li>
                    <li><a href="#" class="text-white-50">Free Mobile App</a></li>
                </ul>
            </div>
            <!-- Social Media -->
            <div class="col-md-3">
                <h5 class="text-white" style="margin-bottom: 1rem !important;">Follow Us</h5>
                <a href="#" class="text-white me-2"><i class="fab fa-facebook fa-2x general-hover"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-twitter fa-2x general-hover"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-instagram fa-2x general-hover"></i></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 Spring Media. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>